*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);
    --body-font-size: .875rem;
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--off-black);
    color: var(--white);
    font-size: var(--body-font-size);
}

a {
    text-decoration: none;
    color: white;
}

.content-container {
    width: 90%;
    background-color: var(--dark-grey);
    max-width: 22.769rem;
    border-radius: .75rem;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem;
}

.img-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.img {
    width: 30%;
    border-radius: 50%;
}

.title {
    font-weight: 600;
    padding-top: 1.5rem;
}

.subtitle {
    color: var(--green);
    font-size: 1rem;
    font-weight: 600;
    padding-top: .5rem;
}

.bio {
    color: #ffffffcc;
    padding: 1.5rem .5rem 0 .5rem;
    text-align: center;
}

.btn-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: .5rem;
}

button {
    margin-top: 1rem;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    color: #fff;
    background-color: var(--grey);
    border: none;
    font-weight: 700;
    padding: .8rem 0;
    border-radius: .5rem;
    cursor: pointer;
}

button:hover, a:hover {
    background: var(--green);
    color: var(--grey);
}
